
input{
    margin: 10px;
}
#formdiv{
    height: 400px;
    width: 230px;
   border: groove thin #ea1910;
    border: solid;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button_{
    height:30px;
    width:190px;
    background: #214d49;
}
#registrationDiv{
    height: 500px;
    width: 500px;
    border-color: rgba(128, 123, 109, 0.09);
    border: solid;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hidden_{

 visibility: hidden;

}

