#minu {background-color:#EAEEE2;text-align:left;border-bottom-width: 10px;border-bottom-color: red;height: 35px;padding-left: 20px;
padding-top: 5px;
}

.minu {background-color: #374615;text-align:left;border-bottom-width: 10px;border-bottom-color: red;}

#header {background-color:#abbf78;text-align:left;border-bottom-width: 10px;border-bottom-color: red;}

#footer {background-color:#e0e0ff;text-align: center;}
